/* --- Article Reader Specific Styles --- */
#single-article{
    margin-top: 6rem;
    text-align: justify;
}

#article_cover{
    float: left;
    max-width: 70%;
    margin: 0.5rem 0.8rem 0.5rem 0rem;
    box-shadow: 0px 0px 2px black;
    padding: 2px;
    border-radius: 5px;
}

#article_header{
    text-align: center;
    color: darkred;
}

.artice_text{
    margin: 2rem 0rem;
}

.artice_text p{
    margin: 1rem 0rem;
}

h4{
    color: var(--accent);
    display: inline-block;
    /* font-weight: 500; */
    margin: 1rem 0rem 0rem 0rem;
}

.artice_text strong{
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 0.3rem 0.5rem;
    font-weight: 500;
}

.article_first_para::first-letter{
    font-size: larger;
    margin-left: 2rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.artice_bullet_list{
    padding: 2rem;
    margin: 2rem;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: smaller;
}

.artice_bullet_list li{
    margin-left: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.twist_continue{
    box-shadow: 1px 1px 3px black;
    margin: 2rem 5rem;
    padding: 1rem;
    background-color: white;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 10px 0px;
}

.twist_continue p{
    margin: 0.5rem 0rem;
    /* line-height: 1.5; */
    text-align: left;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}

#article_quotes{
    position: relative;
    background: black;
    color: white;
    min-height: 30dvh;
}

#article_quotes img{
    width: 100%;
    max-height: 50dvh;
    object-fit: fill;
    z-index: 0;
    opacity: 0.4;
    z-index: 1;
}

#article_twist{
    position: absolute;
    top: 5%;
    padding: 1rem 2rem;
    text-align: center;
}

#article_twist h3{
    text-align: center;
    margin-bottom: 1.5rem;
    border: 0px solid silver;
    border-width: 0px 0px 1px 0px;
}

#article_twist q{
    font-style: italic;
    font-size: larger;
    line-height: 1;
}

#article_suggestion{
    margin: 3rem 0rem 2rem 0rem;
}

#article_suggestion h4{
    margin-bottom: 0.5rem;
    color: darkred;
    font-weight: 500;
}

#suggestion_list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    font-size: 0.8rem;
}

#suggestion_list a{
    width: 200px;
    text-align: center;
}

#suggestion_list a:hover{
    transform: scale(1.05);
}

#suggestion_list img{
    width: 100%;
    max-height: 100px;
    background: transparent;
}

/*  */

@media (max-width:1030px) {
    #article_cover{
        max-width: 75%;
    }
}

@media (max-width:900px) {
    #article_cover{
        max-width: 80%;
    }
}

@media (max-width:650px) {
    #article_cover{
        max-width: 100%;
    }

    #article_quotes{
        line-height: 1.1;
    }

    #article_twist{
        padding: 0.5rem 1rem;
    }

    #article_twist h3{
        margin-bottom: 0.5rem;
        padding-bottom: 0.2rem;
    }
}

@media (max-width:500px) {
    #article_quotes{
        min-height: 20dvh;
    }

    #article_quotes img{
        max-height: auto;
    }

    #article_twist{
        padding: 0.5rem;
    }

    #article_twist q{
        font-size: 0.9rem;
    }

    .twist_continue{
        margin: 1rem 2rem;
        padding: 0.7rem;
    }
}
